<header> 
    <div class="titulo-cabecera">Configuración de la Peña</div>  
</header>
<div class="separacion-header">
    <form (ngSubmit)="onSubmit()">
        <fieldset>
            <legend><h3>Datos Generales </h3></legend>             
               <label for="nombre">Nombre de la Peña:</label>
                <input type="text" name="nombre" id="nombre" placeholder="Nombre" [(ngModel)]="penyaCreada.nombrePenya" required="true">
                <br>
                <label for="nombreBD">Nombre en la Base de Datos:</label>
                <input type="text" name="nombreBD" id="nombreBD" placeholder="NombreBD" [(ngModel)]="penyaCreada.nombreBD" required="true">
                <br>
                <label for="cuota">Cuota miembro:</label>
                <input type="number" name="cuota" id="cuota" placeholder="0.00" step="any" [(ngModel)]="penyaCreada.cuota">
                <br>
        </fieldset>
        <fieldset>
            <legend><h3>Reparto puntos</h3></legend>
                <label  for="victoria">Puntos por victoria</label>
                <input type="number" name="victoria" id="victoria"  [(ngModel)]="penyaCreada.puntosVictoria">
                <br>   
                <label for="empate">Puntos por empate</label>
                <input type="number" name="empate" id="empate"  [(ngModel)]="penyaCreada.puntosEmpate">
                <br>   
                <label for="derrota">Puntos por derrota</label>
                <input type="number" name="derrota" id="derrota" [(ngModel)]="penyaCreada.puntosDerrota">
                <br>          
        </fieldset>
        <fieldset>
            <legend><h3>Parametros de sorteo</h3></legend>
                <label>Sorteo basado en:</label>
                <select name="sorteo" id="sorteo" [(ngModel)]="penyaCreada.sorteo">
                    <!-- TODO ver valores select si poner a numerico -->
                    <option value="vic-der">Ratio Victorias/Derrotas</option>               
                    <option value="clasificacion">Clasificacion en la peña</option>
                    <option value="sin-estadisticas">Sin atender estadísticas</option>  
                    <option value="aleatorio">Completamente aleatorio</option> 
                    <option value="preguntar">Preguntar siempre</option>   
                </select>
                <br>
                <label>Equilibrar niveles</label>
                <input type="checkbox" name="equilibrarNiveles" [(ngModel)]="penyaCreada.equilibrarNiveles" >
                <br>
                <label>Equilibrar posiciones</label>
                <input type="checkbox" name="equilibrarPosiciones" [(ngModel)]="penyaCreada.equilibrarPosiciones">
                <br>
                <label>Considerar incompatibilidades</label>
                <input type="checkbox" name="considerarIncompatibilidades"[(ngModel)]="penyaCreada.considerarIncompatibilidades">
                <br>          
        </fieldset>
        <fieldset>
            <legend><h3>Nombres de Equipos</h3></legend>
            <label for="nombreEquipo1">Equipo 1:</label>
            <input type="text" name="nombreEquipo1" id="nombreEquipo1" placeholder="Equipo1..."[(ngModel)]="penyaCreada.equipo1" >
            <br>
            <label for="nombreEquipo2">Equipo 2:</label>
            <input type="text" name="nombreEquipo2" id="nombreEquipo2" placeholder="Equipo2..."[(ngModel)]="penyaCreada.equipo2" >
            <br>
            <!-- <label for="nombreEquipo3">Equipo 3:</label>
            <input type="text" name="nombreEquipo3" id="nombreEquipo3" placeholder="Equipo3..."[(ngModel)]="nombreEquipo3" >
            <br>
            <label for="nombreEquipo4">Equipo 4:</label>
            <input type="text" name="nombreEquipo4" id="nombreEquipo4" placeholder="Equipo4..."[(ngModel)]="nombreEquipo4" >
            <br>
            <label for="nombreEquipo5">Equipo 5:</label>
            <input type="text" name="nombreEquipo5" id="nombreEquipo5" placeholder="Equipo5..."[(ngModel)]="nombreEquipo5" >
            <br> -->
        </fieldset>
        
        <button type="submit" >Crear</button>
        <button (click)="salir()">Salir</button>
    </form>
   
</div>

