    <body>
    <header> 
        <div class="cabecero">
            <h1>Listado de Peñas</h1>
        </div>      
        
    </header>
    <div >
            <div class="div-padre-relativo-de-absolute">
                <!-- poner maximo caracteres nombre -->
                <div class="div-posic-absolute-arriba-izda" >RACA</div>
               <div class="div-posic-absolute-abajo-dcha">Jugadores: 21, 0 partidos <br>
                    Modificado
                </div>
            </div>
            
            <div class="div-padre-relativo-de-absolute">
                <div class="div-posic-absolute-arriba-izda" >CAZUELA</div>
               <div class="div-posic-absolute-abajo-dcha">Jugadores: 21, 0 partidos <br>
                    Modificado
                </div>
            </div>
            <div class="div-padre-relativo-de-absolute">
                <div class="div-posic-absolute-arriba-izda" >Barsa</div>
               <div class="div-posic-absolute-abajo-dcha">Jugadores: 21, 0 partidos <br>
                    Modificado
                </div>
            </div>
            
            <div class="div-padre-relativo-de-absolute">
                <div class="div-posic-absolute-arriba-izda" >Madrid</div>
               <div class="div-posic-absolute-abajo-dcha">Jugadores: 21, 0 partidos <br>
                    Modificado
                </div>
            </div>
            <div class="div-padre-relativo-de-absolute">
                <div class="div-posic-absolute-arriba-izda" >Unicaja</div>
               <div class="div-posic-absolute-abajo-dcha">Jugadores: 21, 0 partidos <br>
                    Modificado
                </div>
            </div>
            
            <div class="div-padre-relativo-de-absolute">
                <div class="div-posic-absolute-arriba-izda" >Coviran</div>
               <div class="div-posic-absolute-abajo-dcha">Jugadores: 21, 0 partidos <br>
                    Modificado
                </div>
            </div>
            <div class="div-padre-relativo-de-absolute">
                <div class="div-posic-absolute-arriba-izda" >Zaragoza</div>
               <div class="div-posic-absolute-abajo-dcha">Jugadores: 21, 0 partidos <br>
                    Modificado
                </div>
            </div>
            
            <div class="div-padre-relativo-de-absolute">
                <div class="div-posic-absolute-arriba-izda" >Baskonia</div>
               <div class="div-posic-absolute-abajo-dcha">Jugadores: 21, 0 partidos <br>
                    Modificado
                </div>
            </div>
            <div class="div-padre-relativo-de-absolute">
                <div class="div-posic-absolute-arriba-izda" >Joventut</div>
               <div class="div-posic-absolute-abajo-dcha">Jugadores: 21, 0 partidos <br>
                    Modificado
                </div>
            </div>
            
            <div class="div-padre-relativo-de-absolute">
                <div class="div-posic-absolute-arriba-izda" >CAZUELA</div>
               <div class="div-posic-absolute-abajo-dcha">Jugadores: 21, 0 partidos <br>
                    Modificado
                </div>
            </div>
            <div class="div-padre-relativo-de-absolute">
                <div class="div-posic-absolute-arriba-izda" >RACA</div>
               <div class="div-posic-absolute-abajo-dcha">Jugadores: 21, 0 partidos <br>
                    Modificado
                </div>
            </div>
            
            <div class="div-padre-relativo-de-absolute">
                <div class="div-posic-absolute-arriba-izda" >CAZUELA</div>
               <div class="div-posic-absolute-abajo-dcha">Jugadores: 21, 0 partidos <br>
                    Modificado
                </div>
            </div>
    </div>
        
</body>
