    <body>
    <header>      
            <div class="titulo-cabecera">Listado de Peñas</div>  
    </header>
    <div >
        <div *ngFor="let penya of penyas; let i=index" >
            <div id={{penyas[i].idPenya}} class="div-padre-relativo-de-absolute div-penyas" (click)="irApenya()">
                <!-- poner maximo caracteres nombre -->
                <div class="div-posic-absolute-arriba-izda" >{{penyas[i].nombrePenya}}</div>
               <div class="div-posic-absolute-abajo-dcha">Jugadores: {{penyas[i].jugadores.length}} partidos <br>
                    Modificado
                </div>
            </div>
        </div>                
    </div>
    <footer>        
        <button (click)="crearPena()">Crear Peña</button>        
    </footer>   
</body>
