<header>      
    <div class="titulo-cabecera">Jugadores</div>  
    <div class="container-buttons">
        <button class="button-cabecera izda">-</button >
        <button class="button-cabecera izda">Sortear 2 equipos</button>
        <button class="button-cabecera izda">+</button>
        <button class="button-cabecera dcha">Últimos equipos</button>
    </div>
</header>
    
<div class="container-jugadores">   
    <div class="div-jugadores" >        
        <div class="foto-jugador"><img src="assets/square_PNG51.png" alt="Foto jug" style="height: 37px; margin: 2px;"></div>
        <span>Nombre</span><br>
        <span>Nivel :(a)  Pos: (AP)</span><br>
        <span>Iconos (miembro)(ratio)(miembro)</span>
    </div>
    <div class="div-jugadores" >        
        <div class="foto-jugador" ><img src="assets/square_PNG51.png" alt="Foto jug" style="height: 37px; margin: 2px;"></div>
        <span>Nombre</span><br>
        <span>Nivel :(a)  Pos: (AP)</span><br>
        <span>Iconos(miembro)(ratio)(ultim)</span>
    </div>
    <div class="div-jugadores" >        
        <div class="foto-jugador" ><img src="assets/square_PNG51.png" alt="Foto jug" style="height: 37px; margin: 2px;"></div>
        <span>Nombre</span><br>
        <span>Nivel :(a)  Pos: (AP)</span><br>
        <span>Iconos(miembro)(ratio)(ultim)</span>
    </div>
        
</div>