html{
    margin: 0;
    padding: 0;
}
header{  
    position: fixed;   
    top:0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #023E8A;
    z-index: 1;
   
}   
.titulo-cabecera{
    text-align: center;
    color: white;
    margin-top: 18px;
    font-size: 1.5em;
}
.container-info-equipo{
    display: flex;
    font-size: small;
    text-transform: uppercase;
    position: relative;
    top: 20px;
    justify-content: space-around;
    color: #022452;
}

.container-buttons{
    display:flex;
    position: relative;
    top: 80px;
    justify-content: space-evenly;    
}

.container-buttons button{    
      margin-right: 5px;
      background-color: #0096C7;
      color: #fff;
      padding: 10px 14px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      box-shadow: 1px 1px 3px #023E8A;
      font-size: x-small;
      
}
.izda{
    float: left;
}
.dcha{
    float:right;
}


.container-jugadores {   
    display: flex;   
    flex-wrap: wrap;
    gap: 3px;
    position: relative;
    top:95px;
    justify-content: center;
  }

  .div-jugadores{   
    width: 175px;
    background-color: #0e5cc2;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #023E8A;
    font-size: x-small;
    color: #022452;
    height: 45px;  
    padding-top: 3px;
}
#nombre{
    color:white;
    
}
.div-jugadores:hover{
    background-color: #0096C7;
}
.div-jugador-seleccionado{  
    background-color:green;
}

.foto-jugador{
    width: 25%;
    float: left;
    margin: 2px 2px 0 2px;
    
} 
.foto-jugador img{
    height: 37px;
    margin-left: 2px;
}

footer button {
    
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 15px;
    background-color: #0096C7;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 1px 1px 5px #023E8A;
  }
  footer button:active{
    background-color: #023E8A;
    color:aqua;
}